:root {
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-pill: 999px;

  --border-width: 1px;
  --border-line: 1px solid var(--border);
  --border-line-inverse: 1px solid var(--border-inverse);
  --focus-ring-width: 2px;
  --focus-ring-offset: 2px;
}
